


/* @media screen and (max-width: 2000px) { */

    #wrapper {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
        margin: 0 10% 5rem 10%;
        box-shadow: 0 0.25rem 1.5rem 0.25rem rgba(46, 43, 55, 0.5);
    }

    #page-wrapper {
        padding: 1rem;        
    }

    .panel {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }

    .panel > .intro {
        padding: 2.8875rem 1.75rem 1.3875rem 1.75rem ;
        width: auto;
    }

        .panel > .intro.joined {
            padding-bottom: 0;
            padding-right: 1.75rem;
        }

            .panel > .intro.joined + .inner {
                padding-top: 0;
                padding-left: 1.75rem;
            }

    .panel > .inner {
        padding: 2.8875rem 1.75rem 1.3875rem 1.75rem ;
        width: auto;
    }

        .panel > .inner.columns {
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }

            .panel > .inner.columns > * {
                margin-left: 0;
                margin-top: 0;
            }

            .panel > .inner.columns > :first-child {
                margin-top: 0;
            }

            .panel > .inner.columns.divided > * {
                margin-left: 0;
                margin-top: 3.5rem;
            }

                .panel > .inner.columns.divided > *:before {
                    content: '';
                    position: absolute;
                    top: auto;
                    left: 1.75rem;
                    width: calc(100% - 3.5rem);
                    height: 2px;
                    margin-left: 0;
                    margin-top: -1.75rem;
                }

            .panel > .inner.columns.divided > :first-child {
                margin-top: 0;
            }

    .panel .span-0-25 {
        width: 100%;
    }

    .panel .span-0-5 {
        width: 100%;
    }

    .panel .span-0-75 {
        width: 100%;
    }

    .panel .span-1 {
        width: 100%;
    }

    .panel .span-1-25 {
        width: 100%;
    }

    .panel .span-1-5 {
        width: 100%;
    }

    .panel .span-1-75 {
        width: 100%;
    }

    .panel .span-2 {
        width: 100%;
    }

    .panel .span-2-25 {
        width: 100%;
    }

    .panel .span-2-5 {
        width: 100%;
    }

    .panel .span-2-75 {
        width: 100%;
    }

    .panel .span-3 {
        width: 100%;
    }

    .panel .span-3-25 {
        width: 100%;
    }

    .panel .span-3-5 {
        width: 100%;
    }

    .panel .span-3-75 {
        width: 100%;
    }

    .panel .span-4 {
        width: 100%;
    }

    .panel .span-4-25 {
        width: 100%;
    }

    .panel .span-4-5 {
        width: 100%;
    }

    .panel .span-4-75 {
        width: 100%;
    }

    .panel .span-5 {
        width: 100%;
    }

    .panel .span-5-25 {
        width: 100%;
    }

    .panel .span-5-5 {
        width: 100%;
    }

    .panel .span-5-75 {
        width: 100%;
    }

    .panel .span-6 {
        width: 100%;
    }

    .panel .span-6-25 {
        width: 100%;
    }

    .panel .span-6-5 {
        width: 100%;
    }

    .panel .span-6-75 {
        width: 100%;
    }

    .panel .span-7 {
        width: 100%;
    }

    .panel .span-7-25 {
        width: 100%;
    }

    .panel .span-7-5 {
        width: 100%;
    }

    .panel .span-7-75 {
        width: 100%;
    }

    .panel .span-8 {
        width: 100%;
    }

    .panel .span-8-25 {
        width: 100%;
    }

    .panel .span-8-5 {
        width: 100%;
    }

    .panel .span-8-75 {
        width: 100%;
    }

    .panel .span-9 {
        width: 100%;
    }

    .panel .span-9-25 {
        width: 100%;
    }

    .panel .span-9-5 {
        width: 100%;
    }

    .panel .span-9-75 {
        width: 100%;
    }

    .panel .span-10 {
        width: 100%;
    }

    .panel.small, .panel.medium, .panel.large {
        width: 100% !important;
    }

        .panel.small .span-0-25, .panel.medium .span-0-25, .panel.large .span-0-25 {
            width: 100%;
        }

        .panel.small .span-0-5, .panel.medium .span-0-5, .panel.large .span-0-5 {
            width: 100%;
        }

        .panel.small .span-0-75, .panel.medium .span-0-75, .panel.large .span-0-75 {
            width: 100%;
        }

        .panel.small .span-1, .panel.medium .span-1, .panel.large .span-1 {
            width: 100%;
        }

        .panel.small .span-1-25, .panel.medium .span-1-25, .panel.large .span-1-25 {
            width: 100%;
        }

        .panel.small .span-1-5, .panel.medium .span-1-5, .panel.large .span-1-5 {
            width: 100%;
        }

        .panel.small .span-1-75, .panel.medium .span-1-75, .panel.large .span-1-75 {
            width: 100%;
        }

        .panel.small .span-2, .panel.medium .span-2, .panel.large .span-2 {
            width: 100%;
        }

        .panel.small .span-2-25, .panel.medium .span-2-25, .panel.large .span-2-25 {
            width: 100%;
        }

        .panel.small .span-2-5, .panel.medium .span-2-5, .panel.large .span-2-5 {
            width: 100%;
        }

        .panel.small .span-2-75, .panel.medium .span-2-75, .panel.large .span-2-75 {
            width: 100%;
        }

        .panel.small .span-3, .panel.medium .span-3, .panel.large .span-3 {
            width: 100%;
        }

        .panel.small .span-3-25, .panel.medium .span-3-25, .panel.large .span-3-25 {
            width: 100%;
        }

        .panel.small .span-3-5, .panel.medium .span-3-5, .panel.large .span-3-5 {
            width: 100%;
        }

        .panel.small .span-3-75, .panel.medium .span-3-75, .panel.large .span-3-75 {
            width: 100%;
        }

        .panel.small .span-4, .panel.medium .span-4, .panel.large .span-4 {
            width: 100%;
        }

        .panel.small .span-4-25, .panel.medium .span-4-25, .panel.large .span-4-25 {
            width: 100%;
        }

        .panel.small .span-4-5, .panel.medium .span-4-5, .panel.large .span-4-5 {
            width: 100%;
        }

        .panel.small .span-4-75, .panel.medium .span-4-75, .panel.large .span-4-75 {
            width: 100%;
        }

        .panel.small .span-5, .panel.medium .span-5, .panel.large .span-5 {
            width: auto;
        }

        .panel.small .span-5-25, .panel.medium .span-5-25, .panel.large .span-5-25 {
            width: 100%;
        }

        .panel.small .span-5-5, .panel.medium .span-5-5, .panel.large .span-5-5 {
            width: 100%;
        }

        .panel.small .span-5-75, .panel.medium .span-5-75, .panel.large .span-5-75 {
            width: 100%;
        }

        .panel.small .span-6, .panel.medium .span-6, .panel.large .span-6 {
            width: 100%;
        }

        .panel.small .span-6-25, .panel.medium .span-6-25, .panel.large .span-6-25 {
            width: 100%;
        }

        .panel.small .span-6-5, .panel.medium .span-6-5, .panel.large .span-6-5 {
            width: 100%;
        }

        .panel.small .span-6-75, .panel.medium .span-6-75, .panel.large .span-6-75 {
            width: 100%;
        }

        .panel.small .span-7, .panel.medium .span-7, .panel.large .span-7 {
            width: auto;
        }

        .panel.small .span-7-25, .panel.medium .span-7-25, .panel.large .span-7-25 {
            width: 100%;
        }

        .panel.small .span-7-5, .panel.medium .span-7-5, .panel.large .span-7-5 {
            width: 100%;
        }

        .panel.small .span-7-75, .panel.medium .span-7-75, .panel.large .span-7-75 {
            width: 100%;
        }

        .panel.small .span-8, .panel.medium .span-8, .panel.large .span-8 {
            width: 100%;
        }

        .panel.small .span-8-25, .panel.medium .span-8-25, .panel.large .span-8-25 {
            width: 100%;
        }

        .panel.small .span-8-5, .panel.medium .span-8-5, .panel.large .span-8-5 {
            width: 100%;
        }

        .panel.small .span-8-75, .panel.medium .span-8-75, .panel.large .span-8-75 {
            width: 100%;
        }

        .panel.small .span-9, .panel.medium .span-9, .panel.large .span-9 {
            width: 100%;
        }

        .panel.small .span-9-25, .panel.medium .span-9-25, .panel.large .span-9-25 {
            width: 100%;
        }

        .panel.small .span-9-5, .panel.medium .span-9-5, .panel.large .span-9-5 {
            width: 100%;
        }

        .panel.small .span-9-75, .panel.medium .span-9-75, .panel.large .span-9-75 {
            width: 100%;
        }

        .panel.small .span-10, .panel.medium .span-10, .panel.large .span-10 {
            width: 100%;
        }

    .panel.color1 {
        background-image: url("../../images/overlay.png"), linear-gradient(135deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));
        background-size: 128px 128px, auto;
        background-color: #726193;
    }

    .panel.color2 {
        background-image: url("../../images/overlay.png"), linear-gradient(135deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));
        background-size: 128px 128px, auto;
        background-color: #e37b7c;
    }

    .panel.color3 {
        background-image: url("../../images/overlay.png"), linear-gradient(135deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));
        background-size: 128px 128px, auto;
        background-color: #ffe4b4;
    }

    .panel.color4 {
        background-image: url("../../images/overlay.png"), linear-gradient(135deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));
        background-size: 128px 128px, auto;
        background-color: #353865;
    }

    .panel.color1-alt {
        background-image: url("../../images/overlay.png"), linear-gradient(135deg, rgba(114, 97, 147, 0.175) 25%, rgba(227, 123, 124, 0.175) 50%, rgba(255, 228, 180, 0.175));
        background-size: 128px 128px, auto;
        background-color: #6c5e86;
    }

    .panel.color2-alt {
        background-image: url("../../images/overlay.png"), linear-gradient(135deg, rgba(114, 97, 147, 0.175) 25%, rgba(227, 123, 124, 0.175) 50%, rgba(255, 228, 180, 0.175));
        background-size: 128px 128px, auto;
        background-color: #de7172;
    }

    .panel.color3-alt {
        background-image: url("../../images/overlay.png"), linear-gradient(135deg, rgba(114, 97, 147, 0.175) 25%, rgba(227, 123, 124, 0.175) 50%, rgba(255, 228, 180, 0.175));
        background-size: 128px 128px, auto;
        background-color: #fedea6;
    }

    .panel.color4-alt {
        background-image: url("../../images/overlay.png"), linear-gradient(135deg, rgba(114, 97, 147, 0.175) 25%, rgba(227, 123, 124, 0.175) 50%, rgba(255, 228, 180, 0.175));
        background-size: 128px 128px, auto;
        background-color: #323459;
    }

    .panel.banner .content {
        padding: 2.8875rem 1.75rem 1.3875rem 1.75rem ;
        /* -moz-flex-basis: 60%;
        -webkit-flex-basis: 60%;
        -ms-flex-basis: 60%;
        flex-basis: 60%; */
        flex: 60%;
    }

    .panel.banner .content > .actions:last-child {
        margin-bottom: 1.5rem;
    }

    .panel.banner .image {
        /* -moz-flex-basis: 40%;
        -webkit-flex-basis: 40%;
        -ms-flex-basis: 40%;
        flex-basis: 40%; */
        flex: 40%;
    }

    .panel.spotlight .content {
        padding: 2.8875rem 1.75rem 1.3875rem 1.75rem ;
        -moz-flex-direction: column !important;
        -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3)) !important;
        min-height: 25rem;
    }
/* } */

/* @media screen and (max-width: 1000px) and (orientation: portrait) { */
    
    /* .panel.banner .content {
        -moz-flex-basis: auto;
        -webkit-flex-basis: auto;
        -ms-flex-basis: auto;
        flex-basis: auto;
    }

    .panel.banner .image {
        -moz-flex-basis: auto;
        -webkit-flex-basis: auto;
        -ms-flex-basis: auto;
        flex-basis: auto;
        height: 18rem;
    } */

    /* .panel.banner.left {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .panel.banner.right {
        -moz-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    } */

/* } */